<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
</head>
<body>

    <div class="playingCards">
        <div class="playingCards fourColours faceImages simpleCards inText rotateHand">

            <div class="card back">*</div>
            <div class="card rank-7 spades">
                <span class="rank">7</span>
                <span class="suit">&spades;</span>
            </div>
        </div>

    </div>

    <button onclick="showMessage()">Click Me</button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html> 
